@import '../../scss/mixins.scss';
@import '../../scss/variable.scss';

.header {
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(lightgray,0.7);

    &__titleMainText {
        font-family: $notosans;
    }

    &__inner {
        height: 60px;
        @include flex($ai: center);
    }

    &__link {
        @include flex($ai: center);
    }

    &__linkItem {
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    &__linkAnchor {
        font-family: $notosans;
        font-weight: bold;
        @include hoverOp;
    }

}